header{
	background:#FF0200;
	border-bottom:#bd0300 3px solid;
	height:60px;
	width:70%;
	padding-top:15px;
	margin:auto;
}

body{
	font:15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0px;
	background-color:#f4f3f3;
}

.container{
	width:70%;
	margin: auto;
	overflow: hidden;
	text-align: center;
}

#brandname{
	text-align: center;
	font-size:30px;
	color: #fff;
	width:70%;
	margin: auto;
	overflow: hidden;
}

header h2{
	text-align:center;
	color:#fff;
}

textarea{
	font-size: 12px;
}

.btn-info {
	background-color: #bd0300;
	height:40px;
	width:100px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	position: relative;
	border-radius: 8px;
	margin-top: 5px;
}
.btn-info:hover {
	background: #FF0200;
	transition-duration: 0.4s;
}