<html>

<head>
	<title>Subreddit Classifier</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>

	<header>
		<div id="brandname">
			Machine Learning App with Flask
		</div>
	</header>

	<div class="container">
		<h2>Subreddit Post Classifier</h2>
		<p>
			This is a demo of a classifier trained using posts from two different subreddits: r/codingbootcamp and r/csMajors.
		</p>
		<form action="{{ url_for('predict')}}" method="POST">
			Enter Your Post Below:

			{% if error %}
			<p class=error><strong>Error:</strong> {{ error }}
		  	{% endif %}
			
			<br>
			<textarea name="message" rows="10" cols="50"></textarea>
			<br />

			<input type="submit" class="btn-info" value="Predict">
		</form>
			<p>
				{% if prediction == 1%}
				<h2 style="color:blue;">r/codingbootcamp</h2>
				{% elif prediction == 0%}
				<h2 style="color:red;">r/csMajors</h2>
				{% endif %}
			</p>

			<p style="font-size:12px;">
				{% if message %}
				Tokens: {{ message }}
				{% endif %}
			</p>
	</div>

</body>

</html>